<h2>Reaper Projects</h2>
<p><a href="add_project">Add Project</a></p>
{% for project in projects %}
<p>Name: <a href="tracklist?project={{project.id}}">{{project.name}}</a></p>
<ul>
<li>User: {{project.user}}</li>
<li>Date: {{project.timestamp}}</li>
</ul>
{% endfor %}
