<h2>Reaper Track List</h2>
{% for track in tracks %}
<p>Name: {{track.0.name}}</p>
<ul>
{% for vst in track.1 %}
<li>VST Name: {{vst.vst.name}} Executable: {{vst.vst.exe}}</li>
{% endfor %}
</ul>
{% endfor %}
